.base-form {
    margin-top: 54px;
    margin-left: 50px;
    width: 1251px;
    height: 270pxpx;
    background: #e6f7ff;
    border-radius: 16px;
}

.form-title {
    margin-top: 66px;
    margin-left: 94px;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.btn-botton {
    margin: 32px;
    margin-left: 94px;
}

.ede {
    width: 676px;
    height: 40px;
    margin-left: 94px;
    
}
