.base-form {
    margin-top: 54px;
    margin-left: 50px;
    width: 1251px;
    height: 270pxpx;
    background: #e6f7ff;
    border-radius: 16px;
}

.form-title {
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}
